{% load i18n %}{% autoescape off %}
    {% blocktrans %}<p>You're receiving this email because you requested a password reset for your user account at
        {Quora Clone Project.</p>{% endblocktrans %}
    <p>{% trans "Please go to the following page and choose a new password:" %}
    {% block reset_link %}
        {{ protocol }}://{{ domain }}{% url 'users:password-reset-confirm' uidb64=uid token=token %}
    {% endblock %}
    {% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}</p>


    <p>{% trans "Thanks for using our site!" %}</p>

    {% blocktrans %}<p>The Quora Clone Project team</p>{% endblocktrans %}

{% endautoescape %}