{% extends 'base.html' %}

{% block title %}
    Create your user profile and explore the wisdom
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1 class="ui header">Create your account</h1>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <form method="POST" action=""
                  class="col-5 ui equal width form d-flex flex-column justify-content-center">
                {% csrf_token %}
                {% if form.non_fields_errors %}
                    <div class="ui visible small error message">
                    <i class="close icon"></i>
                    <div class="header">
                        Ups! Something went wrong:
                    </div>
                    <ul class="list">
                        {{ form.non_fields_errors }}
                    </ul>
                </div>
                {% endif %}
                <div class="fields">
                    <div class="field">
                        <label for="{{ form.username.id_for_label }}">Username</label>
                        {{ form.username }}
                        {% if form.username.errors %}
                            <div class="ui visible tiny error message">
                                <i class="close icon"></i>{{ form.username.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label for="{{ form.first_name.id_for_label }}">First name</label>
                        {{ form.first_name }}
                    </div>
                    <div class="field">
                        <label for="{{ form.last_name.id_for_label }}">Last name</label>
                        {{ form.last_name }}
                    </div>
                </div>
                {% if form.first_name.errors or form.last_name.errors %}
                    <div class="ui visible error tiny message"><i class="close icon"></i>
                        {{ form.last_name.errors }}
                        {{ form.last_name.errors }}
                    </div>
                {% endif %}
                <div class="fields">
                    <div class="field">
                        <label for="{{ form.email.id_for_label }}">Email</label>
                        {{ form.email }}
                        {% if form.email.errors %}
                            <div class="ui visible tiny error message">
                                <i class="close icon"></i>{{ form.email.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label for="{{ form.password1.id_for_label }}">Password</label>
                        {{ form.password1 }}
                    </div>
                    <div class="field">
                        <label for="{{ form.password2.id_for_label }}">Confirm the password</label>
                        {{ form.password2 }}
                    </div>
                </div>
                {% if form.password1.errors or form.password2.errors %}
                    <div class="ui visible tiny error message"><i class="close icon"></i>
                        {{ form.password1.errors }}
                        {{ form.password2.errors }}
                    </div>
                {% endif %}
                <button type="submit" class="ui primary button">Sign Up</button>
            </form>
        </div>
    </div>
{% endblock %}