{% extends 'base.html' %}

{% block title %}
    Sign in and browse the site as you wish
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1 class="ui header">Password Change</h1>
        </div>
        <div class="col-12 d-flex justify-content-center mt-3">
            <form method="POST" action="{% url 'users:password-change' %}"
                  class="col-5 ui equal width form d-flex flex-column justify-content-center">
                {% csrf_token %}
                {% if form.non_fields_errors %}
                    <div class="ui visible small error message">
                    <i class="close icon"></i>
                    <div class="header">
                        Ups! Something went wrong:
                    </div>
                    <ul class="list">
                        {{ form.non_fields_errors }}
                    </ul>
                </div>
                {% endif %}
                <div class="fields">
                    <div class="field">
                        <label for="{{ form.old_password.id_for_label }}">Old Password</label>
                        {{ form.old_password }}
                        {% if form.old_password.errors %}
                            <div class="ui visible tiny error message">
                                <i class="close icon"></i>{{ form.old_password.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label for="{{ form.new_password1.id_for_label }}">New Password</label>
                        {{ form.new_password1 }}
                    </div>
                </div>
                {% if form.new_password1.errors %}
                    <div class="ui visible tiny error message"><i class="close icon"></i>
                        {{ form.new_password1.errors }}
                    </div>
                {% endif %}
            <div class="fields">
                    <div class="field">
                        <label for="{{ form.new_password2.id_for_label }}">Confirm new password</label>
                        {{ form.new_password2 }}
                    </div>
                </div>
                {% if form.new_password2.errors %}
                    <div class="ui visible tiny error message"><i class="close icon"></i>
                        {{ form.new_password2.errors }}
                    </div>
                {% endif %}
                <button type="submit" class="ui primary button">Change Password</button>
            </form>
        </div>
    </div>
{% endblock %}