{% extends 'base.html' %}

{% block title %}
    Sign in and browse the site as you wish
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 d-flex justify-content-center mt-3">
            <div class="ui success message px-5 py-4">
                <h1 class="ui large header">Email was send to you.</h1>
                <div class="">
                    Check out your email, reset link should be there. <i class="ui big icon check"></i>
                </div>
            </div>
        </div>
    </div>
{% endblock %}