{% extends 'base.html' %}

{% block title %}
    Sign in and browse the site as you wish
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1 class="ui header">Password Reset</h1>
        </div>
        <div class="col-12 d-flex justify-content-center mt-3">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Reset Password">
            </form>
        </div>
    </div>
{% endblock %}