{% extends 'base.html' %}
{% block title %}Welcome to Quora Clone Project! Just another place to share knowledge.
{% endblock %}

{% block pre-content %}
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-content-center">
            <h1 class="ui header large">Quora 2.0</h1>
        </div>
        <div class="col-12 d-flex justify-content-center align-content-center">
            <h2 class="ui header large">This project is based on the website Quora.com</h2>
        </div>
    </div>
{% endblock %}