.ui.side.menu.fixed{
  margin-top: 150px;
}

.ui.segments {
  margin: 0rem 0 2rem 0rem;
}

.question {
  a.link {
    color: black;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }

    .header {
      font-size: 1.35rem;
    }
  }
}


$answer-text-padding: 0px 25px;

.answer-wrapper {
  .credits {
    padding: 10px 0 0 30px;

    .image {
      $feed-profile-image-measures: 65px;
      width: $feed-profile-image-measures;
      height: $feed-profile-image-measures;
      float: left;
    }

    .credentials {
      height: 100%;
      display: flex;
      padding: 0px 15px 10px 5px;
      justify-content: center;
      flex-direction: column;

      .follow-user {
        float: right;
        margin: 0 15px 0 10px;

        .text {
          padding: 0;
        }
      }

      .author {
        font-weight: bold;
        font-size: 1.1rem;
      }

      .description {
        font-size: 0.95rem;
        padding: 3px 0px;
        margin-left: 10px;
      }

      .created-at {
        font-size: 0.7rem;
        color: rgba(0, 0, 0, 0.55);
        margin-left: 5px;
      }
    }
  }

  .text {
    padding: $answer-text-padding;
    text-align: left;

    .title {
      padding: 0 !important;
    }

    .content {
      padding: 0 !important;
    }
  }
}

// Bottom bar of segment with upvote/bookmark etc
.segment.action-bar {
  padding: 10px 20px;
}

.upvote-wrapper {

  .upvote.button {
    color: red !important;
  }
}

.question-detail {
  .accordion .content.active {
    padding-bottom: 0.5rem;
  }
}


@import "feed_action_bar.scss";