.unanswered-question-action-bar {
  .button{
    @include breakpoint(xs){
      font-size: 0.75rem;
    }
  }
  .answer{
    &:hover{
      .red.icon{
        color:white !important;
      }
    }
  }
  .answer-later.button{
    margin-left:1rem;
  }
}