<div class="row answer-wrapper d-flex">
    <div class="col-12 credits mt-2">
        <img class="ui circular image"
             src="{{ answer.user.profile_image.url }}"
             alt="Profile photography - {{ answer.user }}">
        <div class="credentials">
                                <span class="author"><a
                                        href="{% url 'users:profile' alias=answer.user.username %}">{{ answer.user }}</a></span>
            <div class="ui basic blue mini follow button">
                <i class="user plus icon"></i> Follow
            </div>
            <span class="description">Develop public quickly live. Suggest analysis total media to. Experience carry take notice mind officer.</span>
            {% if answer.user.description %}
                <span class="description">{{ answer.user.description }}</span>
            {% endif %}
            <span class="created-at">Answered {{ answer.created_at }}</span>

        </div>
    </div>
</div>
{% if answer.content|length >= 455 %}
    <div class="col-12 text ui accordion">
        <div class="title preview">
            {{ answer.content|truncatechars:455 }}
        </div>
        <div class="content">
            {{ answer.content }}
        </div>
    </div>
{% else %}
    <div class="col-12 text">
        <div class="content">
            {{ answer.content }}
        </div>
    </div>
{% endif %}