{% if user.is_authenticated %}
    {% if user not in answer.upvotes.all %}
        <div class="ui labeled button upvote-wrapper">
        <button class="ui icon basic button button-upvote" type="button" data-answer-id="{{ answer.pk }}">
            <i class="ui icon red heart"></i>
            <span class="upvote-text">Upvote</span>
        </button>
        <div class="ui basic label">
            <span class="upvote-counter">1500</span>
        </div>
        </div>
    {% else %}
        <div class="ui labeled button upvote-wrapper">
        <button class="ui icon button red button-upvote" type="button" data-answer-id="{{ answer.pk }}">
            <i class="ui icon heart"></i>
            <span class="upvote-text">Upvoted</span>
        </button>
        <div class="ui basic label">
            <span class="upvote-counter">{{ answer.upvotes.count }}</span>
        </div>
        </div>
    {% endif %}
{% else %}
    <div class="ui labeled button upvote-wrapper">
        <a href="{% url 'users:login' %}" class="ui icon button button-upvote">
            <i class="ui icon heart"></i>
            <span class="upvote-text">Upvote</span>
        </a>
        <div class="ui basic label">
            <span class="upvote-counter">{{ answer.upvotes.count }}</span>
        </div>
        </div>
{% endif %}