{% for question in questions_list %}
    <div class="ui segments">
        <div class="ui segment">
            <div class="row question">
                <div class="col-12">
                    <h2 class="header">{{ question.content }}</h2>
                </div>
            </div>
            {% if question.answers.all %}
                {% with question.answers.first as answer %}
                    {% include 'posts/_posts_answer.html' %}
                {% endwith %}
            {% endif %}
        </div>
        <div class="ui segment action-bar">
            {% if question.answers.all %}
                {% with question.answers.first as answer %}
                    {% include 'posts/_answer_bottom_bar.html' %}
                {% endwith %}
            {% else %}
                {% include 'posts/_question_bottom_bar.html' %}
            {% endif %}
        </div>
    </div>
{% endfor %}