<div class="ui update-answer modal">
    <i class="close icon"></i>
    <h2 class="header">
        <span class="question text">{{ modal_question.content }}</span>
    </h2>
    <div class="image content">
        {{ form.as_p }}
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Nope
        </div>
        <div class="ui positive right labeled icon button">
            Yep, that's me
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>