<div class="row unanswered-question-action-bar">
    <div class="col-12">
        {% if user.is_authenticated %}
            {# ANSWER - to write answer #}
            <button class="ui small red inverted action answer button" type="button" data-user-id="{{ user.id }}"
                    data-question-id="{{ question.id }}">
                <i class="red pencil alternate icon"></i><span class="text">Answer</span>
            </button>
            {# ANSWER LATER - reminder #}
            <button class="ui small basic action answer-later button" type="button" data-user-id="{{ user.id }}"
                    data-question-id="{{ question.id }}">
                <i class="red bell {% if user not in question.reminder.all %}outline{% endif %} icon"></i><span
                    class="text">Answer later</span>
            </button>
            {# FOLLOW QUESTION + counter #}
            <div class="ui follow-question-wrapper small labeled button float-right">
                <button class="ui small basic action follow-question button" type="button"
                        data-user-id="{{ user.id }}"
                        data-question-id="{{ question.id }}">
                    {% if user not in question.follow_question.all %}
                        <i class="blue plus icon"></i><span class="text">Follow Question</span>
                        {% else %}
                        <i class="plus icon"></i><span class="text">Following Question</span>
                    {% endif %}
                </button>
                <span class="ui basic label counter">
                <i class="ui grey users icon"></i><span class="text">{{ question.follow_question.count }}</span>
            </span>
            </div>
        {% else %}
             <a href="{% url 'users:login' %}" class="ui small red inverted action answer button" type="button">
                <i class="red pencil alternate icon"></i><span class="text">Answer</span>
            </a>
            <a href="{% url 'users:login' %}" class="ui small basic action answer-later button" type="button">
                <i class="red bell icon"></i><span
                    class="text">Answer later</span>
            </a>
            <a href="{% url 'users:login' %}" class="ui small basic button"><i
                    class="blue plus icon"></i><span class="text">Follow Question</span></a>
            <span class="ui basic label counter">
                <i class="ui grey users icon"></i><span class="text">{{ question.follow_question.count }}</span>
            </span>
        {% endif %}


    </div>
</div>
