{% if active == 'contributors' %}
    {% include 'topics/_topic_contributors.html' %}
{% endif %}
{% if questions_list %}
    {% for question in questions_list %}
        <div class="ui segments">
            <div class="ui segment">
                <div class="row question">
                    <div class="col-12">
                       <a class="link" href="{% url 'topics:posts:question-detail' topic_slug=topic.slug question_slug=question.slug %}"> <h2 class="header">{{ question.content }}</h2></a>
                    </div>
                </div>
                {% if active == 'feed' %}
                    {% with question.answers.first as answer %}
                        {% include 'posts/_answer_content.html' %}
                    {% endwith %}
                {% endif %}
            </div>
            <div class="ui segment action-bar">
                {% if active == 'feed' %}
                    {% with question.answers.first as answer %}
                        {% include 'posts/_action_bar_answer.html' %}
                    {% endwith %}
                {% elif active == 'to_answer' %}
                    {% include 'posts/_action_bar_question.html' %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endif %}
