{% extends 'base.html' %}

{% block title %}
    Questions - Help the community to answer those question
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-3">
            <div class="ui vertical side menu">
                <a class="{% if not active or active == 'feed' %}active red{% else %}grey{% endif %} item"
                   href="?active=feed">
                    <span class="title"><i
                            class="ui icon {% if not active or active == 'feed' %}red{% else %}grey{% endif %} coffee"></i>New Stories</span>
                </a>
                <a class="{% if active == 'following_questions' %}active red{% endif %} ui item"
                   href="?active=following_questions">
                    <span class="title"><i
                            class="ui icon {% if active == 'following_questions' %}red{% else %}grey{% endif %} thumbtack"></i> Following Questions</span>
                </a>
                <a class="{% if active == 'fav_writers' %}active red{% else %}grey{% endif %} ui item"
                   href="?active=fav_writers">
                    <span class="title"><i
                            class="ui icon {% if active == 'fav_writers' %}red{% else %}grey{% endif %} user circle"></i> Favourite Writers</span>
                </a>
                <a class="{% if active == 'bookmarks' %}active red{% else %}grey{% endif %} ui item"
                   href="?active=bookmarks">
                    <span class="title"><i
                            class="ui icon {% if active == 'bookmarks' %}red{% else %}grey{% endif %} bookmark"></i> Bookmarks</span>
                </a>
                <a class="{% if active == 'upvoted' %}active red{% else %}grey{% endif %} ui item"
                   href="?active=upvoted">
                    <span class="title"><i
                            class="ui icon {% if active == 'upvoted' %}red{% else %}grey{% endif %} user like"></i> Upvoted</span>
                </a>
                <div class="item topic-links">
                    <div class="header">Your Topics</div>
                    <div class="menu">
                        {% for topic in subscribed_topics %}
                            <a class="{% if active == topic.slug %}active{% endif %} item"
                               href="?active={{ topic.slug }}">{{ topic.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="feed-content col-lg-8 col-12">
            <div class="row">
                <div class="col-12">
                    <div class="feed">{% include 'posts/feed_list_views.html' %}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block post-content %}
    <div class="ui divider hidden"></div>
    {% if paginator %}
        {% with page_obj as paginated_object %}
            <div class="row">
                <div class="col-8 offset-3">
                    {% include 'utils/_pagination.html' %}
                </div>
            </div>
        {% endwith %}
    {% endif %}
{% endblock %}