{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="follow"/>
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'semantic_ui/semantic.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'semantic_ui/icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/master.min.css' %}">
</head>
<body>
{% include 'navbar.html' %}
<div class="container page-wrapper">
    {% block pre-content %}

    {% endblock %}
    {% block content %}

    {% endblock %}
    {% block post-content %}

    {% endblock %}
    {% block footer %}

    {% endblock %}
</div>
</body>
<script src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'semantic_ui/semantic.min.js' %}"></script>


<script src="{% static 'js/master.min.js' %}"></script>
</html>