{# <nav class="ui top fixed  borderless  menu"> #}
<nav class="ui top borderless  menu">
    <div class="container">
        <a href="" class="ui red header item page-brand">Quora 2.0</a>
        {% if user.is_authenticated %}
            <a href="" class="item"><i class="ui icon coffee"></i>Feed</a>
            <a href="" class="item"><i class="ui icon edit"></i>Answer</a>
            <a href="{% url 'topics:list' %}" class="item"><i class="ui icon
            rocket"></i>Topics</a>
        {% else %}
            <a href="" class="item"><i class="ui icon coffee"></i>Feed</a>
            <a href="" class="item"><i class="ui icon edit"></i>Answer</a>
            <a href="{% url 'topics:list' %}" class="item"><i class="ui icon
            rocket"></i>Topics</a>
        {% endif %}

        {% if user.is_authenticated %}
            <div class="item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
            <div class="item">
                <a href="" class="ui button red">
                    Ask <i class="ui fitted white icon question"></i>
                </a>
            </div>
            <a href="" class="item"><i
                    class="ui icon user"></i> {{ user.username }}</a>
            <a href="" class="item"><i class="ui icon sign-out"></i>Logout</a>
        {% else %}
            <div class="item">
                <a href="{% url 'users:login' %}" class="ui button red">
                    Ask a question <i class="ui fitted white icon question"></i>
                </a>
            </div>
            <div class="right menu">
                <div class="item">
                    <a href="{% url 'users:login' %}" class="ui button grey"><i class="ui icon
                    sign-in"></i>Login</a>
                </div>
                <div class="item">
                    <a href="{% url 'users:registration' %}" class="ui button primary">
                        <i class="ui icon user plus"></i>SignUp</a>
                </div>
            </div>
        {% endif %}
    </div>
</nav>
