{% if user.is_authenticated %}
    {% if user not in answer.bookmarks.all %}
        <button class="ui icon tiny basic button button-bookmark" type="button" data-answer-id="{{ answer.id }}"><i
                class="ui icon bookmark"></i></button>
    {% else %}
        <button class="ui icon tiny basic button button-bookmark" type="button" data-answer-id="{{ answer.id }}"><i
                class="ui red icon bookmark"></i></button>
    {% endif %}
{% else %}
    <a href="{% url 'users:login' %}" class="ui icon tiny basic button">
        <i class="ui red icon bookmark"></i>
    </a>
{% endif %}