//Media queries mixins
//@import "base/_media_queries.scss";

@import "utils/mixins.scss";

// Base styles
@import "base/_base.scss";

// Font styles
@import "base/_fonts.scss";

// Layout
@import "layout/_base.scss";
//@import "layout/_navbar.scss";
//@import "layout/_sidebar.scss";
//@import "layout/_todo.scss";


// Components
@import "components/_feed.scss";
@import "components/_modals.scss";
@import "components/_feed_action_bar.scss";
@import "components/_contributors.scss";
//@import "components/_icon.scss";
//@import "components/_button.scss";


.topic-list {
  &.ui.divided.items > .item {
    margin: 0;
    padding: 1rem 0 !important;
    border-top: 0 solid rgba(34, 36, 38, .15);
    border-bottom: 1px solid rgba(34, 36, 38, .15);
    align-items: center;
  }
}
