html {
  font-size: 100%; }

.small.text {
  font-size: 12px;
  font-size: 0.75rem; }

.menu.top {
  min-height: 64px;
  min-height: 4rem; }

.page-wrapper {
  margin-top: 64px;
  margin-top: 4rem;
  padding-top: 32px;
  padding-top: 2rem; }

.ui.side.menu.fixed {
  margin-top: 150px; }

.ui.segments {
  margin: 0px 0 32px 0px;
  margin: 0rem 0 2rem 0rem; }

.question a.link {
  color: black;
  font-weight: bold; }
  .question a.link:hover {
    text-decoration: underline; }
  .question a.link .header {
    font-size: 21.6px;
    font-size: 1.35rem; }

.answer-wrapper .credits {
  padding: 10px 0 0 30px; }
  .answer-wrapper .credits .image {
    width: 65px;
    height: 65px;
    float: left; }
  .answer-wrapper .credits .credentials {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 15px 10px 5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .answer-wrapper .credits .credentials .follow-user {
      float: right;
      margin: 0 15px 0 10px; }
      .answer-wrapper .credits .credentials .follow-user .text {
        padding: 0; }
    .answer-wrapper .credits .credentials .author {
      font-weight: bold;
      font-size: 17.6px;
      font-size: 1.1rem; }
    .answer-wrapper .credits .credentials .description {
      font-size: 15.2px;
      font-size: 0.95rem;
      padding: 3px 0px;
      margin-left: 10px; }
    .answer-wrapper .credits .credentials .created-at {
      font-size: 11.2px;
      font-size: 0.7rem;
      color: rgba(0, 0, 0, 0.55);
      margin-left: 5px; }

.answer-wrapper .text {
  padding: 0px 25px;
  text-align: left; }
  .answer-wrapper .text .title {
    padding: 0 !important; }
  .answer-wrapper .text .content {
    padding: 0 !important; }

.segment.action-bar {
  padding: 10px 20px; }

.upvote-wrapper .upvote.button {
  color: red !important; }

.question-detail .accordion .content.active {
  padding-bottom: 8px;
  padding-bottom: 0.5rem; }

@media (max-width: 767px) {
  .unanswered-question-action-bar .button {
    font-size: 0.75rem; } }

.unanswered-question-action-bar .answer:hover .red.icon {
  color: white !important; }

.unanswered-question-action-bar .answer-later.button {
  margin-left: 16px;
  margin-left: 1rem; }

.create-answer .form .text-area {
  width: 100%; }

@media (max-width: 767px) {
  .unanswered-question-action-bar .button {
    font-size: 0.75rem; } }

.unanswered-question-action-bar .answer:hover .red.icon {
  color: white !important; }

.unanswered-question-action-bar .answer-later.button {
  margin-left: 16px;
  margin-left: 1rem; }

.contributors.table .title {
  font-size: 19.2px;
  font-size: 1.2rem;
  padding-top: 32px !important;
  padding-top: 2rem !important; }

.topic-list.ui.divided.items > .item {
  margin: 0;
  padding: 16px 0 !important;
  padding: 1rem 0 !important;
  border-top: 0 solid rgba(34, 36, 38, 0.15);
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
