html {
  font-size: 100%; }

.menu.top {
  min-height: 64px;
  min-height: 4rem; }

.page-wrapper {
  margin-top: 64px;
  margin-top: 4rem; }

.topic-list.ui.divided.items > .item {
  margin: 0;
  padding: 16px 0 !important;
  padding: 1rem 0 !important;
  border-top: 0 solid rgba(34, 36, 38, 0.15);
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
