<div class="ui secondary pointing menu">
    <a href="{% url 'topics:detail'  topic_slug=topic.slug %}?active=feed"
       class="{% if not active or active == 'feed' %}active{% endif %} item">
        Top Answers
    </a>
    <a href="{% url 'topics:detail'  topic_slug=topic.slug %}?active=to_answer"
       class="{% if active == 'to_answer' %}active{% endif %} item">
        Waiting Questions
    </a>
    <a href="{% url 'topics:detail'  topic_slug=topic.slug %}?active=contributors" class="{% if active == 'contributors' %}active{% endif %} item">
        Contributors {{ active_menu }}
    </a>
    <div class="right menu">
        <a class="ui item">
            Logout
        </a>
    </div>
</div>