{% extends 'base.html' %}
{% load static %}

{% block pre-content %}

{% endblock %}

{% block content %}
    <div class="row content-topic">
        <div class="col-12 ui divided items topic-list row justify-content-center">
            {% for topic in topics %}
                <div class="col-6 topic item">
                    <div class="image">
                        <img src="{% static 'images/image.png' %}">
                    </div>
                    <div class="content">
                        <a href="{% url 'topics:detail'  topic_slug=topic.slug %}"
                           class="header"><h2
                        >{{ topic.name }}</h2></a>
                        <div class="meta">
                            <div class="ui basic label">Subscribers: <span
                                    class="subs-counter">{{ topic.subscribers.count }}</span><i
                                    class="ui icon user"></i></div>
                        </div>
                        <div class="description">
                            <p></p>
                        </div>
                        <div class="extra subscription">
                            {% if user.is_authenticated %}
                                {% if user not in topic.subscribers.all %}
                                    {#SUBSCRIBE BUTTON#}
                                    <button type="button" data-topic-id="{{ topic.pk }}"
                                            class="ui red inverted button subscribe">
                                        <i class="left ui icon plus"></i><span class="text">Subscribe</span>
                                    </button>
                                {% else %}
                                    {#UNSUBSCRIBE BUTTON#}
                                    <button type="button" data-topic-id="{{ topic.pk }}"
                                            class="ui button basic subscribe unsubscribe">
                                        <i class="left ui icon minus"></i><span class="text">Unsubscribe</span>
                                    </button>
                                {% endif %}
                            {% else %}
                                <a href="{% url 'users:login' %}" data-topic-id="{{ topic.pk }}"
                                   class="ui red button">
                                    <i class="left ui icon plus"></i><span class="text">Subscribe</span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block post-content %}
    <div class="ui modal first interest">
        <div class="ui icon header">
            <i class="archive icon"></i>
            How much are you interest in the Topic?
            <div class="ui small text">
                To create better experience, we want to know your preferences. You can edit them later.
            </div>
        </div>

        <div class="content text-center">
            <div class="ui massive star rating" data-rating="0" data-max-rating="5" data-topic-id="0"></div>
        </div>
    </div>
    <div class="ui modal second knowledge">
        <div class="ui icon header">
            <i class="archive icon"></i>
            How much knowledge do you have about the Topic?
            <div class="ui small text">
                To create better experience, we want to know your preferences. You can edit them later.
            </div>
        </div>

        <div class="content text-center">
            <div class="ui massive star rating" data-rating="0" data-max-rating="5" data-topic-id="0"></div>
        </div>
    </div>

{% endblock %}
