{% extends 'base.html' %}

{% block title %}
    Topic - {{ topic.name }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-10 offset-lg-1 col-12">
            <div class="row">
                <div class="col-12">
                    {% include 'posts/_posts_menu.html' %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="feed">
                        {% include 'posts/_feed.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% with answer_create_form as form %}
        {% include 'posts/_answer_create_modal.html' %}
    {% endwith %}
{% endblock %}