{% extends 'base.html' %}
{% block pre-content %}
    <div class="row">
        <div class="col-2 offset-4">
            <h1>{{ topic.name }}</h1>
        </div>
        <div class="col-2">
            {% if user.is_authenticated %}
                <a href="{% url 'topics:posts:create-question' topic_slug=topic.slug %}" class="ui button red">Ask a
                    question</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-4 offset-4">
            <p>{{ topic.description_html|safe }}</p>
        </div>
    </div>
{% endblock %}