{% extends 'base.html' %}

{% block title %}
    Topic - {{ topic.name }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-10 offset-lg-1 col-12">
            <div class="row">
                <div class="col-12">
                    {% include 'topics/_topics_feed_menu.html' %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="feed"></div>
                    {% if questions_list %}
                        {% include 'posts/feed.html' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}